In [1]:
#Insert Description stuff

# Exploratory Data Analysis

In [2]:
#Imports for EDA
import pandas as pd
from pandas_profiling import ProfileReport

## Read Dataset

In [3]:
date_format = '%d/%m/%y'
# Read all the dataset
#Campaign Data
campaign_data_df = pd.read_csv('campaign_data.csv')
campaign_data_df.start_date = pd.to_datetime(campaign_data_df.start_date,format=date_format)
campaign_data_df.end_date = pd.to_datetime(campaign_data_df.end_date,format=date_format)
# Customer Demographics
customer_demographics_df = pd.read_csv('customer_demographics.csv')
# Train Data
train_df = pd.read_csv('train.csv')
#Read customer transaction data
customer_transaction_data_df = pd.read_csv('customer_transaction_data/customer_transaction_data.csv')
customer_transaction_data_df.date = pd.to_datetime(customer_transaction_data_df.date) #Convert to datetime

#Read Item Data
item_data_df = pd.read_csv('item_data.csv')
#Coupon item mapping
coupon_item_mapping_df = pd.read_csv('coupon_item_mapping.csv')

## Combine Similar Dataframes

In [5]:
# Merge the 3 dataframes
#df1 - train dataset combined with the campaign data to get the details on campaign 
#       e.g. campaign_type, start and end date of the campaign
df1 = train_df.merge(campaign_data_df,on='campaign_id',how='left').merge(customer_demographics_df,on='customer_id',how='left')
df1.head()

       id  campaign_id  coupon_id  ...  family_size  no_of_children income_bracket
0   26543           23       1081  ...            1             NaN            7.0
1     432           30        108  ...          NaN             NaN            NaN
2   59998            6        773  ...          NaN             NaN            NaN
3  127582           28         82  ...          NaN             NaN            NaN
4   61568           21        666  ...          NaN             NaN            NaN

[5 rows x 14 columns]

In [7]:
#df2 - transaction data merged with the item data to get the item details
#  e.g. brand, brand_type and category
df2 = customer_transaction_data_df.merge(item_data_df,on='item_id',how='left')
df2.head()

        date  customer_id  item_id  ...  brand   brand_type          category
0 2012-01-02         1501    26830  ...     56        Local  Natural Products
1 2012-01-02         1501    54253  ...     56        Local  Natural Products
2 2012-01-02         1501    31962  ...    524  Established           Grocery
3 2012-01-02         1501    33647  ...   1134  Established           Grocery
4 2012-01-02         1501    48199  ...    524  Established           Grocery

[5 rows x 10 columns]

## Run Profile Report

In [ ]:
# Running Profile Report on df2 reveals that:
#     - columns 'quantity' and selling price have high standard deviation, meaning there are outliers
#     - some of the customer transactions are duplicated

## Remove Duplicates

In [13]:
df2.drop_duplicates(inplace=True)
df2

              date  customer_id  item_id  ...  brand   brand_type          category
0       2012-01-02         1501    26830  ...     56        Local  Natural Products
1       2012-01-02         1501    54253  ...     56        Local  Natural Products
2       2012-01-02         1501    31962  ...    524  Established           Grocery
3       2012-01-02         1501    33647  ...   1134  Established           Grocery
4       2012-01-02         1501    48199  ...    524  Established           Grocery
...            ...          ...      ...  ...    ...          ...               ...
1324561 2013-06-30         1129     2777  ...   2074  Established           Grocery
1324562 2013-06-30         1129     2953  ...     56        Local           Grocery
1324563 2013-06-30         1129     2971  ...     56        Local           Grocery
1324564 2013-06-30         1129    46984  ...     56        Local           Grocery
1324565 2013-06-30         1129    64498  ...   3514  Established              Meat

[1321650 rows x 10 columns]

## Remove Exteme Values

In [17]:
from scipy import stats
import numpy as np

In [21]:
outliers_df = df2[(np.abs(stats.zscore(df2[['quantity','selling_price']]))>4).all(axis=1)] 
outliers_df

              date  customer_id  item_id  ...  brand  brand_type       category
4917    2012-01-18          632    49009  ...     56       Local           Fuel
6360    2012-01-20          503    49009  ...     56       Local           Fuel
6807    2012-01-21          401     2862  ...     56       Local           Fuel
6912    2012-01-22          415    49004  ...     56       Local  Miscellaneous
7636    2012-01-23          225    49009  ...     56       Local           Fuel
...            ...          ...      ...  ...    ...         ...            ...
1324351 2013-07-03          590    49009  ...     56       Local           Fuel
1324438 2013-07-03         1368    49009  ...     56       Local           Fuel
1324439 2013-07-03         1168    49009  ...     56       Local           Fuel
1324444 2013-07-03          453    39453  ...     56       Local           Fuel
1324522 2013-07-03         1093    49009  ...     56       Local           Fuel

[9849 rows x 10 columns]

In [22]:
#Most of the outliers are in category 'Fuel'
outliers_df.category.value_counts()

Fuel             8524
Miscellaneous    1325
Name: category, dtype: int64

In [23]:
#All the outliers are brand 56 
outliers_df.brand.value_counts()

56    9849
Name: brand, dtype: int64

In [24]:
#Remove outliers
df2 = df2[(np.abs(stats.zscore(df2[['quantity','selling_price']]))<4).all(axis=1)]

In [26]:
#Merge df2 to coupon_item_mapping_df to get coupon id (needed for aggregation later on)
df3 = df2.merge(coupon_item_mapping_df,on='item_id',how='left')
df3

              date  customer_id  ...          category  coupon_id
0       2012-01-02         1501  ...  Natural Products        7.0
1       2012-01-02         1501  ...  Natural Products       20.0
2       2012-01-02         1501  ...  Natural Products       29.0
3       2012-01-02         1501  ...  Natural Products        7.0
4       2012-01-02         1501  ...  Natural Products       20.0
...            ...          ...  ...               ...        ...
2629121 2013-06-30         1129  ...           Grocery        NaN
2629122 2013-06-30         1129  ...           Grocery      367.0
2629123 2013-06-30         1129  ...              Meat        8.0
2629124 2013-06-30         1129  ...              Meat       24.0
2629125 2013-06-30         1129  ...              Meat       33.0

[2629126 rows x 11 columns]

# Feature Engineering

## Coupon-Item Details

In [27]:
def add_coupon_details(x):
    """Function that assigns the value of 1.0 to columns if the value is in Dataframe by filtering using:
        -customer_id
        -coupon_id
        -whether date falls between the start and end date of campaign
        """
    df = df3[(df3.customer_id == x['customer_id'])&(df3.coupon_id == x['coupon_id'])]
    df = df[(df.date>=x.start_date)&(df.date<=x.end_date)]
    if len(df)>3:
        #get brand type and category
        df_cols = np.append(df.brand_type.unique(),df.category.unique())
        #put value in the column
        x[df_cols]=1.0
    return x

In [29]:
#Use unique values from the brand_type and category columns as new columns
new_cols = np.append(df3.brand_type.unique(),df3.category.unique())
df1[new_cols]=0
df1.head()

       id  campaign_id  coupon_id  ...  Salads  Restauarant Travel
0   26543           23       1081  ...       0            0      0
1     432           30        108  ...       0            0      0
2   59998            6        773  ...       0            0      0
3  127582           28         82  ...       0            0      0
4   61568           21        666  ...       0            0      0

[5 rows x 35 columns]

In [30]:
df1 = df1.apply(lambda x:add_coupon_details(x),axis=1)

## Aggregation of Numerical Values

In [31]:
from tqdm import tqdm

In [32]:
#Different statistical methods and corresponding columns where the methods will be applied
calc_dict = {'mean':np.mean,
            'sum':np.sum,
            'std':np.std,
            'min':np.min,
            'max':np.max}
cols_list = ['selling_price','coupon_discount','other_discount','quantity']

In [33]:
def calculate(x):
    """Generate features"""
    df = df3[(df3.customer_id == x['customer_id'])&(df3.coupon_id == x['coupon_id'])]
    df = df[(df.date>=x.start_date)&(df.date<=x.end_date)]
    out_list = []
    #Calculate stuff 
    for calc in calc_dict:
        method = calc_dict[calc]
        for col in cols_list:
            out_list.append(df[col].aggregate(method))
    return out_list

In [34]:
#Aggregate
x = []
for _,row in tqdm(df1.iterrows(),total=df1.shape[0]):
    x.append(calculate(row))
x1 = np.array(x).T

100%|██████████| 77157/77157 [14:58<00:00, 85.90it/s]

In [35]:
#Assign the columns
counter = 0
for calc in calc_dict:
    method = calc_dict[calc]
    for col in cols_list:
        df1[f'{calc}_{col}'] = x1[counter]
        counter+=1
df1.head()

       id  campaign_id  ...  max_other_discount  max_quantity
0   26543           23  ...                 NaN           NaN
1     432           30  ...                 NaN           NaN
2   59998            6  ...                 NaN           NaN
3  127582           28  ...                 NaN           NaN
4   61568           21  ...                 NaN           NaN

[5 rows x 55 columns]

## Campaign length

In [36]:
df1['campaign_days'] = (df1.end_date - df1.start_date).dt.days

## One hot encoding of Categorical Features

In [37]:
from sklearn.preprocessing import OneHotEncoder

In [38]:
#Onehot transform the campaign_type
enc = OneHotEncoder()
to_encode = np.array(df1.campaign_type).reshape(-1,1)
enc_fit = enc.fit(to_encode)
enc_transformed = enc.transform(to_encode).toarray()
df1[enc.categories_[0]] = enc_transformed
df1.drop(columns=['campaign_type'],inplace=True)

In [39]:
#Onehot transform the marital_status
enc = OneHotEncoder()
to_encode = np.array(df1.marital_status).reshape(-1,1)
enc_fit = enc.fit(to_encode)
enc_transformed = enc.transform(to_encode).toarray()
df1[enc.categories_[0]] = enc_transformed
df1.drop(columns=['marital_status',np.NaN],inplace=True)

## Reassign values

In [40]:
# Change age
age_mapping = { '18-25':20.0,
                '26-35':30.0,
                '36-45':40.0,
                '46-55':50.0,
                '56-70':60.0,
                '70+':70
                }
df1.age_range = df1.age_range.map(age_mapping)

In [41]:
#Change family size and no_of_children
def convert_to_int(x):
    try:
        out =  int(re.findall(r'^\D*(\d+)', str(x))[0])
    except:
        out = np.nan
    return out
df1.family_size = df1.family_size.apply(lambda x:convert_to_int(x))
df1.no_of_children = df1.no_of_children.apply(lambda x:convert_to_int(x))

In [42]:
#Drop columns that are not needed
df1.drop(columns=['start_date','end_date','id','campaign_id','coupon_id','customer_id'],inplace=True)

# Training

## Prepare Dataset

In [44]:
from sklearn.model_selection import train_test_split

In [43]:
#Get X and y
target_col_name = 'redemption_status' 
y = df1[target_col_name]
X = df1.drop(target_col_name,axis=1)

In [45]:
# Separate Validation Data
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=42)

## Training

In [46]:
from xgboost import XGBClassifier
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.model_selection import GridSearchCV
import joblib

In [47]:
#Use XGboost Classifier
model = XGBClassifier(use_label_encoder=False,eval_metric='logloss')

In [62]:
#Set the grid for grid search
param_grid = {'scale_pos_weight':[3,5,10],
            'eta':[0.1,0.2,0.3],
            'gamma':[2,5],
            'max_depth':[6,10,15],
            'n_estimators' :[100,300]}

In [65]:
#Train
cv = RepeatedStratifiedKFold(n_splits=5, n_repeats=3, random_state=1)
grid = GridSearchCV(estimator=model, param_grid=param_grid, n_jobs=-1, cv=cv, scoring='f1_macro',verbose=2)
grid_result = grid.fit(np.array(X_train),np.array(y_train))
#Output the model
joblib.dump(grid_result, 'model1.pkl')

Fitting 15 folds for each of 108 candidates, totalling 1620 fits

In [55]:
print("Best f1_score: %f using %s" % (grid_result.best_score_, grid_result.best_params_))

Best f1_score: 0.707796 using {'eta': 0.1, 'gamma': 2, 'max_depth': 10, 'n_estimators': 300, 'scale_pos_weight': 3}

## Validation

In [60]:
from sklearn.metrics import classification_report

In [57]:
#Get prediction of validation data
y_pred = grid_result.best_estimator_.predict(X_test)

In [61]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.98      0.99      0.99     22514
           1       0.48      0.32      0.38       634

    accuracy                           0.97     23148
   macro avg       0.73      0.66      0.68     23148
weighted avg       0.97      0.97      0.97     23148

# Possible Future Improvements

1. Use different classifiers
    - Neural Networks
    - SVM
    - Decision Tree
    - Random Forest
2. Use Ensemble, combining the different classifiers
3. Get feature importance to get rid of low impact features
4. Balance the datasets